*::after,
*::before,
* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Overpass', sans-serif, monospace;
}
/*-----body-----*/
body {
  background-color: hsl(216, 12%, 8%);
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/*-----main-----*/
main {
  background-image: radial-gradient(
    ellipse at center top,
    hsla(213, 19%, 18%, 1),
    hsla(213, 19%, 18%, 0.5)
  );
  background-position: top 50px, left 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  max-width: 327px;
  border-radius: 10px;
  margin: 0 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}
/*-----main first-----*/
main .first::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-image: url('images/icon-star.svg'),
    radial-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.3));
  background-repeat: no-repeat;
  background-position: center;
}
main .first {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}
main .first * {
  display: block;
  flex: 1;
}
main .first h2 {
  margin: auto 0;
  margin-top: 50px;
  flex-basis: 30px;
  max-width: 279px;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
}
main .first p {
  margin: auto 0;
  max-width: 279px;
  flex-basis: 66px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: hsl(217, 12%, 63%);
}
main .first .num-buttons {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  margin-top: 3%;
  padding: 0;
  max-width: 281px;
  height: 42px;
}
main .first .num-buttons .num-button {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  text-align: center;
  flex: 0 40px;
  height: 40px;
  color: hsl(216, 12%, 54%);
  background-color: hsla(0, 0%, 0%, 0.3);
  cursor: pointer;
}
main .first .num-buttons .num-button:hover,
main .first .num-buttons .num-button:focus {
  background-color: hsl(217, 12%, 63%);
  color: white;
}
main .first .main-button {
  border: none;
  padding: 0;
  margin: auto 0;
  border-radius: 40px;
  flex: 0 45px;
  max-width: 279px;
  color: white;
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
}
main .first .main-button:hover,
main .first .main-button:focus {
  background-color: hsl(217, 12%, 63%);
  color: hsl(25, 97%, 53%);
}
main .first .main-button:active {
  background-color: white;
}
/*-----main second-----*/

/*****JS Classes*****/
.active {
  background-color: hsl(25, 97%, 53%) !important;
  color: white !important;
}
.hidden {
  display: none !important;
}
