*::after,
*::before,
* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Overpass', sans-serif, monospace;
}
/*-----body-----*/
body {
  background-color: hsl(216, 12%, 8%);
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/*-----main-----*/
main {
  background-image: radial-gradient(
    ellipse at center top,
    hsla(213, 19%, 18%, 1),
    hsla(213, 19%, 18%, 0.5)
  );
  background-position: top 50px, left 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  border-radius: 10px;
  margin: 0 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}
/*-----main first-----*/
main .first::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-image: url('images/icon-star.svg'),
    radial-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.3));
  background-repeat: no-repeat;
  background-position: center;
}
main .first {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
main .first * {
  display: block;
  flex: 1;
}
main .first h2 {
  margin-top: 60px;
  margin-bottom: 0;
}
main .first p {
  margin: 0;
  color: hsl(217, 12%, 63%);
}
main .first .num-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
main .first .num-buttons .num-button {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  text-align: center;
  flex: 0 40px;
  height: 40px;
  color: hsl(216, 12%, 54%);
  background-color: hsla(0, 0%, 0%, 0.3);
}
main .first .main-button {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 40px;
  flex: 0 45px;
  color: white;
  background-color: hsl(25, 97%, 53%);
}
/*-----main second-----*/
main .second {
  display: none;
}
/*****JS Classes*****/
