:root {
  --neon-green: rgb(84, 230, 175);
  --dark-blue: rbg(44, 52, 75);
  --mid-blue: rgb(90, 102, 138);
  --light-blue: rgb(194, 203, 229);
  --background: rgb(18, 23, 37);
  --background-opa: rgba(18, 23, 37, 0.9);
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
  /* border: solid 1px red; */
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'chivo', sans-serif, monospace;
}

body {
  background-color: var(--background);
}
/*-----main-----*/
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: radial-gradient(
      var(--background-opa),
      var(--background-opa)
    ),
    url('images/image-host.jpg');
  background-repeat: repeat, no-repeat;
  background-size: auto 100%;
  background-position: -350px;

  padding: 24px;
}
main * {
  flex: 1;
}
#logo {
  margin: auto auto;
  background-image: url('images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
}
h1 {
  text-align: center;
  color: var(--neon-green);
  font-weight: 100;
  font-size: 2.6rem;

  display: block;
  margin-bottom: 0;
  line-height: 3.8rem;
  height: 76px;
}
h1 span {
  color: white;
}
p {
  font-weight: 100;
  font-size: 1.5rem;
  text-align: center;
  color: var(--light-blue);
  line-height: 2.5rem;
  flex-basis: 24px;

  display: block;
  margin-top: 0;
}
/*-----p bg images-----*/
p {
  background-image: url('images/spotify.svg'), url('images/apple-podcast.svg'),
    url('images/google-podcasts.svg'), url('images/pocket-casts.svg');
  background-repeat: no-repeat;
  background-position: left 10% bottom 1%, left 38% bottom 0,
    right 38% bottom 4%, right 10% bottom 3%;
  background-size: 56px;
}
/*-----form-----*/
form {
  margin-bottom: 70px;
}
form * {
  display: block;
  width: 90%;
  margin: 10px auto;
  border-radius: 30px;
  height: 46px;
  font-size: 1.4rem;
  border: none;
}
form input {
  padding-left: 32px;
  color: white;
  background-color: var(--mid-blue);
}
form button {
  color: var(--dark-blue);
  background-color: var(--neon-green);
}
